#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  background: hsla(4, 100%, 29%, 1);

  background: linear-gradient(90deg, hsla(4, 100%, 29%, 1) 0%, hsla(0, 94%, 79%, 1) 100%);
  
  background: -moz-linear-gradient(90deg, hsla(4, 100%, 29%, 1) 0%, hsla(0, 94%, 79%, 1) 100%);
  
  background: -webkit-linear-gradient(90deg, hsla(4, 100%, 29%, 1) 0%, hsla(0, 94%, 79%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#960A00", endColorstr="#FC9696", GradientType=1 );


}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.Contenedor{
  background: hsla(4, 100%, 50%, 1);

  background: linear-gradient(90deg, hsla(4, 100%, 50%, 1) 0%, hsla(50, 94%, 79%, 1) 100%);
  
  background: -moz-linear-gradient(90deg, hsla(4, 100%, 50%, 1) 0%, hsla(50, 94%, 79%, 1) 100%);
  
  background: -webkit-linear-gradient(90deg, hsla(4, 100%, 50%, 1) 0%, hsla(50, 94%, 79%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF1100", endColorstr="#FCEC97", GradientType=1 );
  
  border: solid;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



.imagen{
  border: solid;

 
}

.imagen2{
  border: solid;
 
}

.imagen3{
  border: solid;
 
}

